body{
    margin:0;
    padding:0;
    font-family: "微软雅黑";
    font-size: 35%;
}
.header{
    height: 60px;
    background-color: aliceblue;
    border-bottom:beige solid 1px;
    padding-right: 50px;
}
.head_link{
    float:right;
    margin-top: 20px;
}
.a{
    position:absolute;
    top:27%;
    left: 17%;
}
.b{
    position: absolute;
    float:right;
    width: 334px;
    height:385px;
    border:1px solid lightslategray;
    right: 211px;
    top: 133px;
    border-radius: 15px;
}
.c{
    position: absolute;
    padding: 5px;
    text-align: center;
}
.footer{
    position: fixed;
    bottom: 25px;
    background-color: lightblue;
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: aliceblue;
    height:30px;
    left: 0;
    right: 0;
}
.e{
    text-align: center;
    padding: 5px;
}
.d{
    background-color: aliceblue;
    color: lightslategray;
    text-align: center;
    height: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px;
    font-size: 20px;
    padding-top: 25px;
    border-bottom: 1px solid lightslategray;
}
.center{
    text-align: center;
    padding-top: 20px;
}
.bottom{
    position: absolute;
    bottom: 30px;
    right: 30px;
}